html,body {
	height: 100%;
	font:14px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
.bg-top {
	background-image: url(../images/bg-top.jpg);
	background-size: cover;
	background-position: center;
	height: 100%;
	position: fixed;
	left:0;
	top:0;
	width: 100%;
}
.header .nav>li>a {
	color: #fff;
}
.header .nav>li>a:hover, .header .nav>li>a:focus {
	color: #2782f4!important;
    text-decoration: none;
	background: none;
	transition: all 0.2s;
	transform: scale(1.2);
}
.header.scrolled .nav>li>a {
	color: #464646;
}
.header  .logo {
	float: left;
}
.header .logo a:hover {
	text-decoration: none;
}
.navbar-toggle .icon-bar {
	background: #fff;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.section {
    position: relative;
	width: 100%;
    background: #fff;
    padding: 50px 0;
}
.section.promo {
    height: 100%;
	background: transparent;
}
.section.work .thumbnail {
	border-radius: 0;
	position: relative;
	overflow: hidden;
}

.section.work .thumbnail:hover .caption {
	opacity: 0.9;
	top: 0;
}
.section.work .caption {
	opacity: 0;
	transition: all 0.2s;
	position: absolute;
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
	background-color: rgba(0,0,0,0.88);
}
.section.work .caption  h3 {
	font-weight: normal;
	font-size: 16px;
	color: #fefefe;
	text-align: center;
	padding: 10px 20px;
	line-height: 26px;
}
.footer {
	position: relative;
	background: #232137;
}
.footer .copyright p {
    padding: 0;
    margin: 0;
    line-height: 36px;
}
/* 手机分辨率*/
@media (max-width: 767px) {
	.navbar-collapse {
		position: absolute;
		width: 100%;
		margin-left: -15px;
		text-align: center;
	}
	.header.navbar-fixed-top {
		position: absolute;
		width: 100%;
	}
	.header h1.logo {
		font-size: 14px;
	}
	.bg-top {
		position: relative;
	}
	.section.promo {
		position: absolute;
		top: 0;
		left: 0;
	}
}

/* 平板及以上分辨率*/
@media (min-width: 768px) {
	.header.navbar-fixed-top {
		position: relative;
	}
	.header h1.logo {
		float: none;
		text-align: center;
		font-size: 16px;
		background: #fff;
		padding: 0 10px 10px 10px;
	}
	.header h1 .text {
		display: block;
		text: center;
	}
        .header .nav >li >a {
             line-height: 36px;
        }	
}
/* 桌面及以上分辨率*/
@media (min-width: 992px) {
	.header.navbar-fixed-top {
	    position: fixed;
	}
	.header.scrolled {
		background: #fff;
		z-index: 1000;
		height: 66px;
		top: 0;
		-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	}
	.header h1.logo {
        float: left;
        margin: inherit;
	}
}
